# SPDX-FileCopyrightText: 2023 Slavi Pantaleev
# SPDX-FileCopyrightText: 2025 Suguru Hirahara
#
# SPDX-License-Identifier: AGPL-3.0-or-later

---
- name: Check existence of FMD Server systemd service
  ansible.builtin.stat:
    path: "{{ devture_systemd_docker_base_systemd_path }}/{{ fmd_server_identifier }}.service"
  register: fmd_server_service_stat

- name: Uninstall FMD Server systemd services and files
  when: fmd_server_service_stat.stat.exists | bool
  block:
    - name: Ensure FMD Server systemd service is stopped
      ansible.builtin.service:
        name: "{{ fmd_server_identifier }}"
        state: stopped
        enabled: false
        daemon_reload: true

    - name: Ensure FMD Server systemd service does not exist
      ansible.builtin.file:
        path: "{{ devture_systemd_docker_base_systemd_path }}/{{ fmd_server_identifier }}.service"
        state: absent

    - name: Ensure FMD Server support files do not exist
      ansible.builtin.file:
        path: "{{ fmd_server_base_path }}/{{ item }}"
        state: absent
      with_items:
        - config.yml
        - env
        - labels

    - name: Ensure FMD Server image source files path does not exist
      ansible.builtin.file:
        path: "{{ fmd_server_container_image_self_build_src_files_path }}"
        state: absent

    - name: Ensure FMD Server container network does not exist
      when: fmd_server_container_network_deletion_enabled
      block:
        - name: Ensure FMD Server container network does not exist via community.docker.docker_network
          when: devture_systemd_docker_base_container_network_creation_method == 'ansible-module'
          community.docker.docker_network:
            name: "{{ fmd_server_container_network }}"
            state: absent
          register: fmd_server_network_deletion_result

        - name: Ensure FMD Server container network does not exist via ansible.builtin.command
          when: devture_systemd_docker_base_container_network_creation_method == 'command'
          ansible.builtin.command:
            cmd: >-
              {{ devture_systemd_docker_base_host_command_docker }} network rm
              {{ fmd_server_container_network }}
          register: fmd_server_network_deletion_result
          changed_when: fmd_server_container_network in fmd_server_network_deletion_result.stdout

- name: Check existence of FMD Server local data path
  ansible.builtin.stat:
    path: "{{ fmd_server_database_path }}"
  register: fmd_server_database_path_stat

# We just want to notify the user. Deleting database is too destructive.
- name: Notify if FMD Server local data remains
  when: fmd_server_database_path_stat.stat.exists | bool
  ansible.builtin.set_fact:
    devture_playbook_runtime_messages_list: |
      {{
        devture_playbook_runtime_messages_list | default([])
        +
        [
          "Note: As the local FMD Server instance has been removed, some old database remains in `" + fmd_server_database_path + "`. Feel free to delete it."
        ]
      }}
