# SPDX-FileCopyrightText: 2024 Martin Jørgensen
# SPDX-FileCopyrightText: 2024 Thore Göbel
#
# SPDX-License-Identifier: GPL-3.0-or-later

---

# This is an example config file for FMD Server

# Warning: if you use a config file but remove some keys, the YAML parser will
# assign YAML's default values to these keys, e.g., an empty string or the integer 0.
# This is important for ports: on Linux, port 0 will select a random port.
# Therefore, it is recommended to explicitly configure all options.

# Listening precedence: socket > HTTPS > HTTP

# Path to listening UNIX socket. If empty, no unix sockets will be used.
UnixSocketPath: "{{ findmydeviceserver_config_unixsocketpath }}" # /tmp/fmd.sock
# Permissions to set on the socket after it is created. If < 0, no
# modifications are made. This considered insecure practice, if you
# do it, consider setting a umask for the daemon user before starting it.
# Must start with a leading 0.
UnixSocketChmod: "{{ findmydeviceserver_config_unixsocketchmod }}"

# The ports FMD Server should listen on.
# Set the port value to -1 to disable it.
# The secure port is only used if the cert and key are set (see below).
PortSecure: "{{ findmydeviceserver_config_portsecure }}"
PortInsecure: "{{ findmydeviceserver_config_portinsecure }}"

# The length for the user IDs that are generated
UserIdLength: "{{ findmydeviceserver_config_useridlength }}"

# How many location points or pictures FMD Server should save per account
MaxSavedLoc: "{{ findmydeviceserver_config_maxsavedloc }}"
MaxSavedPic: "{{ findmydeviceserver_config_maxsavedpic }}"

# If RegistrationToken is non-empty, FMD Server will require the FMD app to provide this token during registration.
# Set this to a long random string if you want your instance to be private and not open to registrations by anyone.
# You can e.g. generate a 32 character string with your password manager.
RegistrationToken: "{{ findmydeviceserver_config_registrationtoken }}"

# Paths to the server cert and private key (for letting Go terminate TLS)
ServerCrt: "{{ findmydeviceserver_config_servercrt }}" # /path/to/fullchain.pem
ServerKey: "{{ findmydeviceserver_config_serverkey }}" # /path/to/privkey.pem

# The name of the header field in which your reverse proxy records the remote IP of the client being proxied.
# Keep this empty if you are not using a reverse proxy.
# Security warning: your reverse proxy MUST set this header!
# If the value of this header comes from an untrusted location (e.g., it is set by the original client), this can lead to security issues.
RemoteIpHeader: "{{ findmydeviceserver_config_remoteipheader }}" # X-Real-IP
