{#
SPDX-FileCopyrightText: 2023 Slavi Pantaleev
SPDX-FileCopyrightText: 2025 Suguru Hirahara

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% if fmd_server_container_labels_traefik_enabled %}
traefik.enable=true

{% if fmd_server_container_labels_traefik_docker_network %}
traefik.docker.network={{ fmd_server_container_labels_traefik_docker_network }}
{% endif %}

{% set middlewares = [] %}

{% if fmd_server_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ fmd_server_identifier }}-slashless-redirect.redirectregex.regex=^({{ fmd_server_container_labels_traefik_path_prefix | quote }})$
traefik.http.middlewares.{{ fmd_server_identifier }}-slashless-redirect.redirectregex.replacement=${1}/
{% set middlewares = middlewares + [fmd_server_identifier + '-slashless-redirect'] %}
{% endif %}

{% if fmd_server_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ fmd_server_identifier }}-strip-prefix.stripprefix.prefixes={{ fmd_server_container_labels_traefik_path_prefix }}
{% set middlewares = middlewares + [fmd_server_identifier + '-strip-prefix'] %}
{% endif %}

{% if fmd_server_container_labels_traefik_additional_request_headers.keys() | length > 0 %}
{% for name, value in fmd_server_container_labels_traefik_additional_request_headers.items() %}
traefik.http.middlewares.{{ fmd_server_identifier }}-add-request-headers.headers.customrequestheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [fmd_server_identifier + '-add-request-headers'] %}
{% endif %}

{% if fmd_server_container_labels_traefik_additional_response_headers.keys() | length > 0 %}
{% for name, value in fmd_server_container_labels_traefik_additional_response_headers.items() %}
traefik.http.middlewares.{{ fmd_server_identifier }}-add-response-headers.headers.customresponseheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [fmd_server_identifier + '-add-response-headers'] %}
{% endif %}

traefik.http.routers.{{ fmd_server_identifier }}.rule={{ fmd_server_container_labels_traefik_rule }}
{% if fmd_server_container_labels_traefik_priority | int > 0 %}
traefik.http.routers.{{ fmd_server_identifier }}.priority={{ fmd_server_container_labels_traefik_priority }}
{% endif %}
traefik.http.routers.{{ fmd_server_identifier }}.service={{ fmd_server_identifier }}
{% if middlewares | length > 0 %}
traefik.http.routers.{{ fmd_server_identifier }}.middlewares={{ middlewares | join(',') }}
{% endif %}
traefik.http.routers.{{ fmd_server_identifier }}.entrypoints={{ fmd_server_container_labels_traefik_entrypoints }}
traefik.http.routers.{{ fmd_server_identifier }}.tls={{ fmd_server_container_labels_traefik_tls | to_json }}
{% if fmd_server_container_labels_traefik_tls %}
traefik.http.routers.{{ fmd_server_identifier }}.tls.certResolver={{ fmd_server_container_labels_traefik_tls_certResolver }}
{% endif %}

traefik.http.services.{{ fmd_server_identifier }}.loadbalancer.server.port={{ fmd_server_container_http_port }}
{% endif %}

{% for arg in fmd_server_container_labels_additional_labels %}
{{ arg }}
{% endfor %}
